.main-container {
    width: 100%;
}

.banner {
    display: flex;
    text-align: center;
    margin-top: 2%;
    flex-flow: wrap;
}

.banner-men {
    width: 100%;
}

.banner-men img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    object-position: 50% 50%;
}

.banner-ladies {
    width: 100%;
}

.banner-ladies img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    object-position: 50% 50%;
}

.banner-tshirt-men {
    width: 50%;
}

.banner-tshirt-men img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    object-position: 50% 50%;
}

.banner-tshirt-ladies {
    width: 50%;
}

.banner-tshirt-ladies img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    object-position: 50% 50%;
}

.cloth-category {
    margin-top: 30px;
}

.button {
    border: solid black 2px;
    width: 150px;
    height: 35px;
    margin: 30px;
    background: none;
}

#button {
    width: 100px;
}

@media screen and (max-width:800px) {
    .menu-bar {
        display: none;
    }
    .menu-button img {
        display: initial;
    }
}