.cart-section{
    width: 100%;
    display:flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    color: rgb(65, 73, 73);


}
.cart-name{
width: 100%;
text-align: center;
margin: 50px;
}
.item-image{
    width: 10%;
}

.item-image img{
width:100%;
}
select{
    border: none;
    background: none;
}
#button{
    border: solid black 2px;
    width:150px;
    height:35px;
    margin: 5%;
    background: none;
}
.remove-button{
    font-size: 20px;

}
a{
    color: rgb(65, 73, 73);
    text-decoration: none;
}
.total-amount{
display: flex;
float:right;
justify-content: space-around;
width:300px;
}
  span{
    padding-top: 15px;
}