.main-container
{  width: 100%;
    
  }

.banner
{   display: flex;
    text-align: center;
    margin-top:2%;
  flex-flow: wrap;
}
.banner-men {

    width:100%;
}
.banner-ladies{

    width:100%;
}

.banner-tshirt-men {

    width:50%;
}
.banner-tshirt-ladies {

    width:50%;
}
.banner  img{
    width: 100%;
    
}
.cloth-category{
    margin-top: 3%;
}
.button{
    border: solid black 2px;
    width:150px;
    height:35px;
    margin: 5%;
    background: none;
}
#button{
    width:100px;
   
}



@media screen and (max-width:800px)
{
 .menu-bar{
     display: none;
 }

.menu-button img{
    display: initial;
}
  .banner img{
      height: 150%;
  }
}