.inner-container{
    display: flex;
    width:100%;
    justify-content: center;
}

.main-container{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

grid-gap: 10%;
font-size: 13px;


}
.banner-image img{
    width:100%;
}
.cloth-category h3{
   font-weight: 500; 
   margin: 0px;
   font-family: roboto;
   font-size: 15px;

}
.cloth-category p{
    font-weight: 500; 
    margin: 0px;
    color: rgb(137, 139, 142);
    font-size: 12px;
 
 }


item-image{
    width:100%;
}
.item-image img{
    width:100%;
} 
.item-detail{
width: 100%;
text-align: center;

}
.cloth-category{
    text-align: center;
    margin: 20px;

}

@media screen and (max-width:800px)
{
 .main-container{
     grid-template-columns: 1fr 1fr;
 }
 .menu-bar{
     display: none;
 }
 .banner-men img{
     display:none;
 }
}